body {
    background-color: azure;
    background-image: url("img/eye.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed; /*fixed fixa o background, scroll acompanha o conteudo */
    /*background-position-x: 5cm;*/
}
h1{
    background-color: black;
    color: violet;
    text-align: center;
}
p{
    text-indent: 20px; /* Paragrafo*/
    color:firebrick;
    background-color:rgb(189, 157, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#meuparagrafo{
    text-align: justify;
    color:gold;
    font-style: italic;
    font-weight: bolder;
}
.minhaclasse{
    text-align: center;
    color: green;
    font-family:'Times New Roman', Times, serif;
}
#textolow{
    text-transform: lowercase;
}
#textoupper{
    text-transform: uppercase;
}
#textospace{
    letter-spacing: 3px; /*Aumenta o espaçamento entre as letras */
}
#textosub{
    text-decoration: underline;
}
#textoriscado{
    text-decoration: line-through;
}
#textosup{
    text-decoration: overline;
}
a:hover{ /* hover = quando o mouse ta em cima dele */
color:chartreuse;
font-weight: bold;
letter-spacing: 3px;
font-style: italic;
text-transform: uppercase;
}
#minhadiv{
    color: chocolate;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    border-color: darkgreen;
    border-width: thick;
    border-style: dashed;
    background-color: cornsilk;
    width: 500px;
    height: 200px;
}
#p1{
    background-color: cornsilk;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    border-color: darkgreen;
    border-width: thick;
    border-style: dashed;
    float:left;
    width: 30%;
}
#p2{
    background-color: cornsilk;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    border-color: darkgreen;
    border-width: thick;
    border-style: dashed;
    float:left;
    width: 30%;
}
#p3{
    background-color: cornsilk;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    border-color: darkgreen;
    border-width: thick;
    border-style: dashed;
    float:left;
    width: 30%;
}
#p4{
    position: absolute;
    top: 200px;
    left: 200px;
}
#p5{
    top: 100px;
    left: 100px;
    position: relative;
    color: forestgreen;
    z-index: 5;
}