.ex1{
    display: table-cell;
    width: 40%;
    height: 20px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 200px;
    padding-bottom: 15px;
}
.ex2{
    display: table-cell;
    position:absolute;
    height: 50px;
    padding-top: 20px;
}
#colorblue{
    background-color: blue;
}
#colorred{
    background-color: red;
}
#colorgreen{
    background-color: seagreen;
}
#colorpurple{
    background-color: purple;
}
